/*homepage sliders below*/

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slides{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/* css for manual sliders */

header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white;
    background: lightblue
  }

  main {
    display: flex; 
    justify-content: center;
    background: turquoise
  }  

input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  input[type='password'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .user-card {
    background-color: turquoise;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .username {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .email {
    font-size: 15px;
    margin: 5px 0;
  }
  
  .first-name {
    font-size: 15px;
    margin: 5px 0;
  }
  
  .last-name {
    font-size: 15px;
    margin: 5px 0;
  }


/* End of css for login */

